.bread-crumbs{
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  ul {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    font-size: 0;
  }
  li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }
  a {
    color: #333;
  }
  .arrow-icon{
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}