.my-container{
  padding: 0 0 40px;
  margin: 40px auto 0;
  width: 1020px;
  overflow: hidden;
    .cards-contents{
      float: right;
      width: 700px;
      height: 568px;
      background-color: #ffffff;
        &__head{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
        }
        &__detail{
          padding: 40px 40px 64px;
            &-contet{
              max-width: 343px;
              margin: 0 auto;
                &-number{
                  margin: 0;
                    .payment-card-no{
                      font-weight: 600;
                      display: inline-block;
                      touch-action: manipulation;
                    }
                    .form-reqire{
                      background-color: #ea352d;
                      margin: 0 0 0 8px;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: #ffffff;
                      font-size: 12px;
                      vertical-align: top;
                    }
                    #card_number{
                      width: 100%;
                      margin: 8px 0 0;
                      height: 48px;
                      padding: 10px 16px 8px;
                      border-radius: 4px;
                      border: 1px solid #cccccc;
                      background-color: #ffffff;
                      line-height: 1.5;
                      font-size: 16px;
                    }
                    .card-logo{
                      margin: 8px 0 0;
                      font-size: 0;
                      list-style: none;
                    }
                    .card-logo li{
                      display: inline-block;
                      margin: 0 0 0 8px;
                        &-img{
                          vertical-align: middle;
                        }
                    }
                }
                &-limit{
                  margin-top: 32px;
                    .payment-card-expire{
                      font-weight: 600;
                      display: inline-block;
                      touch-action: manipulation;
                    }
                    .form-reqire{
                      background: #ea352d;
                      margin: 0 0 0 8px;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: #ffffff;
                      font-size: 12px;
                      vertical-align: top;
                    }
                    .exp_month{
                      display: inline-block;
                      width: calc(50% - 30px);
                      height: 48px;
                      margin: 8px 0 0;
                      background: #ffffff;
                      border-radius: 4px;
                      border: 1px solid #cccccc;
                      line-height: 1.5;
                      font-size: 16px;
                    }
                    .exp_year{
                      display: inline-block;
                      width: calc(50% - 30px);
                      height: 48px;
                      margin: 8px 0 0;
                      background: #ffffff;
                      border-radius: 4px;
                      border: 1px solid #cccccc;
                      line-height: 1.5;
                      font-size: 16px;
                    }
                }
                &-cvc{
                  margin-top: 32px;
                    .card_security_code{
                      font-weight: 600;
                      display: inline-block;
                      touch-action: manipulation;
                    }
                    .form-reqire{
                      background-color: #ea352d;
                      margin: 0 0 0 8px;
                      padding: 2px 4px;
                      border-radius: 2px;
                      color: #ffffff;
                      font-size: 12px;
                      vertical-align: top;
                    }
                    .cvc{
                      width: 100%;
                      margin: 8px 0 0;
                      height: 48px;
                      padding: 10px 16px 8px;
                      border-radius: 4px;
                      border: 1px solid #cccccc;
                      background: #ffffff;
                      line-height: 1.5;
                      font-size: 16px;
                    }
                }
                &-btn{
                  position: relative;
                  margin: 8px 0 0;
                    .signup-seqcode-text{
                      text-align: right;
                      color: #0099e8;
                        .form-question{
                          display: inline-block;
                          width: 14px;
                          height: 14px;
                          border-radius: 50%;
                          background: #0099e8;
                          color: #ffffff;
                          line-height: 14px;
                          font-size: 12px;
                          text-align: center;
                        }
                    }
                    .submit-btn{
                      margin-top: 32px;
                        #token_submit{
                          background: #ea352d;
                          border: 1px solid #ea352d;
                          color: #ffffff;
                          display: block;
                          width: 100%;
                          line-height: 48px;
                          font-size: 14px;
                          cursor: pointer;
                          text-align: center;
                        }
                    }
                }
            }
        }
    }
}