.main-box
  .main-box__category
    .main-box__category__bar
      .main-box__category__bar__title
        =@categories.name + "新着アイテム"

    .main-box__category__content
      .main-box__category__content__grid
        - @items.each do |i|
          =link_to "/items/#{i.id}" do
            .box
              .price 
                ¥
                =i.price.to_s(:delimited, delimiter: ',')
              - if i.status == 3
                .sold-logo
              - elsif i.status == 2
                .stopping-logo
              =image_tag i.item_images[0].image.url, alt: 'next', class:'image-box'
              .title-text
                =i.name
