.my-container{
  padding: 0 0 40px;
  margin: 40px auto 0;
  width: 1020px;
  overflow: hidden;
    .my-content{
      float: right;
      width: 700px;
        &__user-icon{
          height: 200px;
          background-image: image-url("mercari_mypage_back.jpg");
          padding: 20px;
          text-align: center;
          font-size: 14px;
          position: relative;
            &-tab{
              position: absolute;
              top: 20%;
              left: 0;
              right: 0;
              display: block;
              color: #333;
                &-user-picture{
                  border-radius: 50%;
                }
                &-name{
                  font-weight: bold;
                  font-size: 14px;
                }
                &-name:hover{
                  text-decoration: underline;
                }
                &-number{
                  margin: 8px 0 0;
                    &-info{
                      display: inline-block;
                      font-size: 14px;
                      margin: 0 8px 0 0;
                    }
                    &-info-bold{
                      display: inline-block;
                      font-weight: bold;
                      margin: 0 8px 0 0;
                    }
                    &-info{
                      display: inline-block;
                      margin: 0 8px 0 0;
                    }
                    &-info-bold{
                      display: inline-block;
                      font-weight: bold;
                      margin: 0 8px 0 0;
                    }
                }
            }
        }
        &__tab__container-todo{
          margin: 0;
          height: 310px;
          background: #fff;
            &-tabs{
              background: #eee;
              font-size: 16px;
              font-weight: bold;
              line-height: 72px;
              text-align: center;
                &-info{
                  float: left;
                  width: 350px;
                  background-color: #ffffff;
                  height: 72px;
                  border-top: 2px solid #ea352d;
                }
                &-todo{
                  height: 72px;
                }
            }
            &-content{
              background-color: #ffffff;
                &-list{
                  padding: 68px 0 60px;
                  text-align: center;
                    &-img{
                      color: #eee;
                      font-weight: bold;
                    }
                }
            }
        }
        &__tab__container{
          margin: 40px 0 0;
            &-head{
              height: 72px;
              font-weight: bold;
              padding: 0 16px;
              line-height: 72px;
              background-color: #fafafa;
            }
            &-tabs{
              background: #eee;
              font-size: 16px;
              line-height: 72px;
              text-align: center;
              font-weight: bold;
                &-now{
                  float: left;
                  width: 350px;
                  height: 72px;
                  border-top: 2px solid #ea352d;
                  background-color:#ffffff;
                }
                &-old{
                  height: 72px;
                }
            }
            &-content{
              height: 236px;
              background-color: #ffffff;
                &-list{
                  padding: 68px 0 60px;
                  text-align: center;
                    &-img{
                      color: #eee;
                      font-weight: bold;
                    }
                }
            }
        }
    }
}

