// Place all the styles related to the mypages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .main-block{
//   margin: 40px auto 0;
//   width: 1020px;
//   overflow: hidden;
.my-side{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  background-color: #ffffff;
  .my-col{
    &__list__item{
      text-decoration: none;
      position: relative;
      display: block;
      padding: 13px;
      font-size: 14px;
      color: #333333;
      border-top: 1px solid #eee;
      .arrow-icon{
        position: absolute;
        padding: 5px 0 0;
        right: 16px;
        color: #cccccc;
      }
    }
    &__head{
      background-color: #F5F5F5;
      font-weight: bold;
      padding: 40px 0 0;
    }
  }
}
// }