= render "shared/top_page/header"

%main.l-container-cleafix
  = render "shared/top_page/sidebar"
  .l-content
    %form{action: "#", method: "post",class: "l-content-inner", novalidate: "novalidate"}
      .l-content__inner__in
        %button{type: "submit",class: "l-content__inner__in__btn",}ログアウト