.btn {
  font-size: 14px;
  width: 100%;
  height: 50px;
  &:focus {
    outline: none;
  }
}

.action-btn {
  background-color: $mercari-red;
  color: $font-color-base;
  opacity: 0.9;
  &:hover {
    opacity: 1;
  }
}


.facebook-btn {
  background-color: #385185;
  color: #fff;
  margin-bottom: 15px;
  .facebook-icon {
    font-size: 20px;
    position: relative;
    right: 64px;
  }
}

.google-btn {
  color: #222;
  outline: 1px solid #aaa;
  margin-bottom: 60px;
  .google-icon {
    font-size: 20px;
    position: relative;
    right: 72px;
  }
}

.email-btn {
  background-color: red;
  color: #fff;
  border: none;
  margin-bottom: 15px;
  .email-icon {
    position: relative;
    right: 66px;
    font-size: 18px;
  }
}

.signup-btn {
  font-size: 14px;
  width: 100%;
  height: 42px;
  border: none;
  background-color: #09e;
  color: #fff;
  &:focus {
    outline: none;
  }
}