.login__footer {
  height: 250px;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 40px 0;
  font-size: 11px;
  letter-spacing: 1px;
  ul{
    @include clearfix();
  }
  li:first-child{
    margin: 0;
  }
  li {
    display: inline-block;
    margin: 0 0 0 16px;
  }
  a{
    display: block;
    color: #333;
  }
  img {
    width: 80px;
    height: 65px;
  }
  p {
    margin: 8px 0 0;
    font-size: 11px;
  }
  &__logo{
    width: 80px;
    height: 65px;
    margin: 40px auto 0;
  }
}