@mixin status_logo ($color, $content, $top, $font) {
  position: relative;
  &::before {
    content: "";
    top: 0;
    left: 0;
    border-bottom: 8em solid transparent;
    border-left: 8em solid $color;
    position: absolute;
    z-index: 100;
  }
  &::after {
    content: $content;
    display: block;
    top: $top;
    transform: rotate(-45deg);
    color: #fff;
    font-weight: bold;
    font-size: $font;
    left: 0;
    position: absolute;
    z-index: 101;
  }
}